@using NoLock.Social.Web.Shared
@using NoLock.Social.Core.Identity.Interfaces
@inject ILoginAdapterService LoginService

<SimpleLoginModal ShowModal="@showLoginModal" ShowModalChanged="@((bool val) => showLoginModal = val)" />

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private bool showLoginModal = false;

    protected override void OnInitialized()
    {
        // Show login modal if not logged in
        showLoginModal = !LoginService.CurrentLoginState.IsLoggedIn;
    }
}
